export RABBITMQ_QUEUE_NAME=chord-paper-tracks-dev
export RABBITMQ_URL="$(pass show ChordPaper/RabbitMQ/RABBITMQ_URL)"
export ENVIRONMENT=development
export GOOGLE_CLOUD_STORAGE_BUCKET_NAME=chord-paper-tracks
export GOOGLE_CLOUD_KEY="$(pass show ChordPaper/GCP/GOOGLE_CLOUD_KEY)"
export AWS_ACCESS_KEY_ID=local
export AWS_SECRET_ACCESS_KEY=local

source local.envrc